* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

ul {
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 228, 154);
  height: 6rem;
}

.header-text {
  font-size: 2.4rem;
}

.header-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: rgb(75, 192, 75);
  color: white;
  border-radius: 50%;
}

.habitAdd {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5em;
}

.habitAddInput {
  width: 20rem;
  height: 2.5rem;
  font-size: 30px;
}

.habitAddBtn {
  width: 3.5rem;
  height: 3rem;
  background-color: rgb(75, 192, 75);
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.reset {
  margin: 1.5rem;
  width: 8rem;
  height: 2.5rem;
  background-color: rgb(75, 192, 75);
  color: white;
  font-size: 25px;
  border-radius: 10px;
}
